{% extends "layout.html" %}

{% block top %} BROWSE MY WIKISTACK {% endblock %}

{% block content %}
    <ul>
		<li><a href="http://www.google.com">Fullstack Home</a></li>
		<li><a href="http://www.google.com">About Me</a></li>
		<li><a href="http://www.google.com">My Projects</a></li>
		<li><a href="http://www.google.com">My City</a></li>
		<li><a href="http://www.google.com">Code I've written</a></li>
	</ul>

	<ul>
		{% for doc in docs %}
			<li><a href='#'>{{doc.title}}</a></li>
		{% endfor %}
	</ul>
{% endblock %}
