<!DOCTYPE html>
<html>
  <head>
  	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title>{% block title %}WikiStack{% endblock %}</title>

  </head>
  <body>
	<div class="collapse navbar-collapse" id="top-nav">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">{% block firstsection %}WIKISTACK{% endblock %}</a></li>
			<li><a href="/add">{% block secondsection %}ADD PAGE{% endblock %}</a></li>
			<li><a href="/tags">{% block thirdsection %}TAG LOOKUP{% endblock %}</a></li>
		</ul>
	</div>

	<div class="main-content">
		<h1>{% block top %} TITLE {% endblock %}</h1>
		
		<hr>
		{% block content %}{% endblock %}
	
		<br><br>
		<p class="footnote">{% block footnote %}WikiStack, Fullstack Academy{% endblock %}</p>
	</div>

  </body>
</html>

