.main-content {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#top-nav {
	background-color: gray;	
}

.footnote {
	color: gray;
}

.large-input {
	height: 250px;
}